/* =============
   Products
============= */

.Glossier-Products{

ul{

@include md{
display: grid;
grid-template-columns: 1fr 1fr;
}
<<<<<<< Updated upstream
@include xl{
display: grid;
grid-template-columns: 1fr 1fr 1fr;

}
}
}

.Glossier-Products{

   @include md{
      display: grid;
      grid-template-columns: 15px auto 15px;
      grid-template-areas: 
      ". products ."
      ;
      }
      @include xl{
         grid-template-columns: auto 1140px auto;
      }
=======

.articles-grid {
   display: grid;
   justify-content: center;


   @include md {
      grid-template-columns: repeat(2, 320px);
      gap: 2%;
      padding-bottom: 55px;
   }

   @include lg {
      grid-template-columns: repeat(3, 320px);
      gap: 2%;
      padding-bottom: 55px;
   }
}

.article-image {
   background-color: grey;
}

.article {
   background-color: rgb(243, 243, 243);
   border-bottom: 1px solid grey;
   margin-bottom: 10px;
   max-width: 320px;
}
>>>>>>> Stashed changes

      @include xxl{
grid-template-columns: auto 1320px auto;
      }

      ul.products-grid{

         @include md{
            grid-area: products:
      }
      }
   }

