/* =============
   Search
============= */

.search{
   margin: 25px 25px;

   .content{
form{
display: flex;

input{
   color: transparent;
   font-size: 14px;
   border: none;
   border-bottom: 1px solid white;

   @include md{
      font-size: 30px;
   }

   @include lg{
      font-size: 35px;
   }
}

   ::placeholder{
     color: black; 
   }

   button{
      background-color: pink;
   border: 1px;
   border-radius: 3.5px;
   margin-left: 259px;
   padding: 16px;

   @include md{
      padding: 24px;
   }

   img{
    width: 30px;  
   }
}
}
   }
}
