/* =============
    OurInventorySearch
============= */

.signup{

&.content{
@include md{
display:grid;
grid-template-columns: 1fr 1fr;
grid-template-areas: 
"Subscribe-for-more-information Find-out-more?";
}
@include xl{
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-areas: 
"Subscribe-for-more-information Find-out-more?";

}
}
}

.signup{
    grid-area: Subscribe-for-more-information;
     }
    
     .find-out-more{
        grid-area: Find-out-more;
}
