/* =============
    Footer
============= */

footer{

.content{

    @include md{
        display: grid;
        grid-template-columns: 50% auto;
        grid-template-areas: 
        "locations"
        "locations follow"
        ;
}
@include lg{
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "locations newsletter follow";
}
.locations{
   @include md{
    grid-area: locations;
   }
}
}
<<<<<<< Updated upstream
=======

.email {
    grid-area: email;
}

.socials {
    grid-area: socials;
}

.both {
    grid-area: both;
}

.email-signup {
    background-color: grey;
    color: white;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

input:focus {
    border-color: white;
}

input::placeholder {
    color: white;
}

input::-webkit-input-placeholder {
    color: white;
}

input::-moz-placeholder {
    color: white;
}

input::-ms-placeholder {
    color: white;
>>>>>>> Stashed changes
}